<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div id="main_div" class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST" id="register_form">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="front_password"
            name="front_password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof front_password != 'undefined' ? front_password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="front_password2"
            name="front_password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof front_password2 != 'undefined' ? front_password2 : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="">Invite code</label>
          <input
            id="invite_code"
            name="invite_code"
            class="form-control"
            placeholder="Invite Code"
            value="<%= typeof invite_code != 'undefined' ? invite_code : '' %>"
          />
        </div>
        <button id="submit_btn" type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>
<script src="../js/md5.js"></script>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<!--My be the code below not so elegant-->
<script>
  var randomString = (length, chars) => {
    var result = '';
    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
    return result;
  }
  var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

  $(document).ready(c => {
    $("#submit_btn").click(function(){
      var password = $('<input\
                        name="password"\
                        style="display:none;"\
                      />');
      var password2 = $('<input\
                        name="password2"\
                        style="display:none;"\
                      />');
      var $front_password = $("#front_password");
      password.val(hex_md5($front_password.val()));
      var length = $front_password.val().length;
      $front_password.val(randomString(length, chars));
      var $front_password2 = $("#front_password2");
      password2.val(hex_md5($front_password2.val()));
      var length2 = $front_password2.val().length;
      $front_password2.val(randomString(length2, chars));

      $("#register_form").prepend(password);
      $("#register_form").prepend(password2);
    });
  });
</script>
